.aval-container {
  grid-area: aval;
}
.aval-card {
  margin: auto;
  width: 100%;
  height: 460px;
  border: solid #ccc;
  border-width: 1px;
}
.aval-header {
  padding: 2%;
}
.two-calendar-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}